<div class="page-header">
  <h3>Restaurants Profile #<%= @restaurants_profile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurants_profile.name %></dd>

      <dt>Description</dt>
      <dd><%= @restaurants_profile.description %></dd>

      <dt>Website</dt>
      <dd><%= @restaurants_profile.website %></dd>

      <dt>Address</dt>
      <dd><%= @restaurants_profile.address %></dd>

      <dt>Cover photo</dt>
      <dd><%= @restaurants_profile.cover_photo %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @restaurants_profile.neighborhood_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants_profiles" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants_profiles/<%= @restaurants_profile.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurants_profile/<%= @restaurants_profile.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
