<div class="page-header">
  <h3>Restaurants Profile #<%= @restaurants_profile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurants_profile.name %></dd>

      <dt>Description</dt>
      <dd><%= @restaurants_profile.description %></dd>

      <dt>Website</dt>
      <dd><%= @restaurants_profile.website %></dd>

      <dt>Address</dt>
      <dd><%= @restaurants_profile.address %></dd>

      <dt>Cover photo</dt>
      <dd><%= @restaurants_profile.cover_photo %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @restaurants_profile.neighborhood_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants_profiles" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants_profiles/<%= @restaurants_profile.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurants_profile/<%= @restaurants_profile.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurants profile has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @restaurants_profile.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.content %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurants profile has many restaurant_ownerships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant_ownerships
      </li>

      <% @restaurants_profile.restaurant_ownerships.each do |restaurant_ownership| %>
        <li class="list-group-item">
          <a href="/restaurant_ownerships/<%= restaurant_ownership.id %>">
            <%= restaurant_ownership.user_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurants profile has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @restaurants_profile.tags.each do |restaurant_tag| %>
        <li class="list-group-item">
          <a href="/restaurant_tags/<%= restaurant_tag.id %>">
            <%= restaurant_tag.restaurant_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
