<!-- Validation failure messages -->
<% if @review_reply.errors.any? %>
  <% @review_reply.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Review Reply</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_review_reply" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for reply_content -->
      <div class="form-group">
        <label for="reply_content" class="control-label">
          Reply content
        </label>

        <textarea id="reply_content" name="reply_content" placeholder="Reply content" class="form-control" rows="3"><%= @review_reply.reply_content %></textarea>
      </div>

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <input type="text" id="review_id" name="review_id" placeholder="Review" class="form-control" value="<%= @review_reply.review_id %>">
      </div>

      <!-- Label and input for restaurant_ownership_id -->
      <div class="form-group">
        <label for="restaurant_ownership_id" class="control-label">
          Restaurant ownership
        </label>

        <input type="text" id="restaurant_ownership_id" name="restaurant_ownership_id" placeholder="Restaurant ownership" class="form-control" value="<%= @review_reply.restaurant_ownership_id %>">
      </div>

      <button class="btn btn-success">
        Create Review Reply
      </button>
      or
      <a href="/review_replies">Cancel</a>
    </form>
  </div>
</div>
