<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @user.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.content %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @user.tags.each do |restaurant_tag| %>
        <li class="list-group-item">
          <a href="/restaurant_tags/<%= restaurant_tag.id %>">
            <%= restaurant_tag.restaurant_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many restaurant_ownerships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant_ownerships
      </li>

      <% @user.restaurant_ownerships.each do |restaurant_ownership| %>
        <li class="list-group-item">
          <a href="/restaurant_ownerships/<%= restaurant_ownership.id %>">
            <%= restaurant_ownership.user_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
