<div class="page-header">
  <h3>Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Neighborhood</dt>
      <dd><%= @neighborhood.neighborhood %></dd>

      <dt>City</dt>
      <dd><%= @neighborhood.city_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/neighborhoods" class="btn btn-primary">
        Back
      </a>
      <a href="/neighborhoods/<%= @neighborhood.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_neighborhood/<%= @neighborhood.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Neighborhood has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @neighborhood.restaurants.each do |restaurants_profile| %>
        <li class="list-group-item">
          <a href="/restaurants_profiles/<%= restaurants_profile.id %>">
            <%= restaurants_profile.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
